<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Email template</title>
  </head>
  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="800"
      style="font-family: 'Poppins', sans-serif"
    >
      <tr style="display: block; margin-top: 20px; letter-spacing: 1.2px">
        <td bgcolor="#fff" id="title">Comunicado sobre a falta de água</td>
      </tr>
      <tr style="display: block; margin-top: 30px; letter-spacing: 1.2px">
        <td bgcolor="#fff" id="message">
          Prezado, por meio deste e-mail, comunico-lhe que para os devidos fins, o Colégio Estadual
          Engenheiro Ildo Meneghetti não haverá aula na data de amanhã (10/03/2022) devido a falta
          de água que afeta todo o bairro Restinga.
        </td>
      </tr>
      <tr bgcolor="#20A88D" width="100%" style="display: block; margin-top: 50px">
        <td align="left" style="padding: 20px 0 20px 0; width: 150px">
          <img
            src="./logo.png"
            alt="Criando Mágica de E-mail"
            width="150"
            height="100"
            style="display: block"
          />
        </td>
        <td align="left" style="padding-left: 10px; color: #fff">
          Eduardo Castro
          <br />
          eduardo.castro@ildomeneghetti.com.br
        </td>
      </tr>
    </table>
  </body>
</html>
